div.tab {
	margin-top:2cm;
    float: left;
    border: 1px solid #ccc;
    background-color: green;
    width: 20%;
    height: 500px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

.my_image{
    width:200px;
    height:200px;
    margin-left: 40%;
}
.selected{color:red}
.bad{color:green}
.bluecode{color:blue}

